@model TransactionsModel
    <table>
        <tr class="text-center">
            <th width="15%">Id</th>
            <th width="75%">Payment</th>
            <th width="15%">Status</th>
        </tr>

        @{
            var translist = Model.Transactions;
            foreach (var tran in translist)
            {
                <tr class="text-center">

                    <th width="15%">@tran.Id</th>
                    <th width="75%">@tran.Payment</th>
                    <th width="15%">@tran.Status</th>
                </tr>
            }
        }
    </table>
   
